In [2]:
a = 5
print(a)

5

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
list = {1,2,3,4,5}
for i in list:  #Testing a loop
    if(i > 2): 
        print(i)

3
4
5

In [10]:
number_list = [1, 3, 5, 7]
number_list.append(8)
number_list

[1, 3, 5, 7, 8]

In [18]:
s = 'string haha i am'
s.split()

['string', 'haha', 'i', 'am']

In [19]:
a = 'David'
b = 'Zhou'
a + b

'DavidZhou'

In [20]:
a[0]

'D'

In [21]:
a[-1]

'd'

In [22]:
a[0:4]

'Davi'

In [23]:
a[::-1]

'divaD'

In [24]:
a.startswith("D")

True

In [25]:
a.endswith("d")

True

In [26]:
a.replace("d", "F")

'DaviFUCK'

In [27]:
name = "David Zhou"
b = 24
'My name is {} and my age is {}'.format(name, b)

'My name is David Zhou and my age is 24'

In [28]:
with open("science.txt", "w") as f:                #I/O: write
    f.write("Writing from jupyter notebook\n")

In [55]:
content = []                                      #I/O: Read
with open("computer.txt", "r") as f:
    data = f.readlines()
    for line in data:
        words = line.split()
        print(words)

['A', 'computer', 'is', 'a', 'device', 'that', 'can', 'be', 'instructed', 'to', 'carry', 'out', 'arbitrary', 'sequences', 'of', 'arithmetic', 'or', 'logical', 'operations', 'automatically.', 'The', 'ability', 'of', 'computers', 'to', 'follow', 'generalized', 'sets', 'of', 'operations,', 'called', 'programs,', 'enables', 'them', 'to', 'perform', 'an', 'extremely', 'wide', 'range', 'of', 'tasks.']
[]
['Such', 'computers', 'are', 'used', 'as', 'control', 'systems', 'for', 'a', 'very', 'wide', 'variety', 'of', 'industrial', 'and', 'consumer', 'devices.', 'This', 'includes', 'simple', 'special', 'purpose', 'devices', 'like', 'microwave', 'ovens', 'and', 'remote', 'controls,', 'factory', 'devices', 'such', 'as', 'industrial', 'robots', 'and', 'computer', 'assisted', 'design,', 'but', 'also', 'in', 'general', 'purpose', 'devices', 'like', 'personal', 'computers', 'and', 'mobile', 'devices', 'such', 'as', 'smartphones.', 'The', 'Internet', 'is', 'run', 'on', 'computers', 'and', 'it', 'connects', 'millions', 'of', 'other', 'computers.']
[]
['Since', 'ancient', 'times,', 'simple', 'manual', 'devices', 'like', 'the', 'abacus', 'aided', 'people', 'in', 'doing', 'calculations.', 'Early', 'in', 'the', 'Industrial', 'Revolution,', 'some', 'mechanical', 'devices', 'were', 'built', 'to', 'automate', 'long', 'tedious', 'tasks,', 'such', 'as', 'guiding', 'patterns', 'for', 'looms.', 'More', 'sophisticated', 'electrical', 'machines', 'did', 'specialized', 'analog', 'calculations', 'in', 'the', 'early', '20th', 'century.', 'The', 'first', 'digital', 'electronic', 'calculating', 'machines', 'were', 'developed', 'during', 'World', 'War', 'II.', 'The', 'speed,', 'power,', 'and', 'versatility', 'of', 'computers', 'has', 'increased', 'continuously', 'and', 'dramatically', 'since', 'then.']
[]
['Conventionally,', 'a', 'modern', 'computer', 'consists', 'of', 'at', 'least', 'one', 'processing', 'element,', 'typically', 'a', 'central', 'processing', 'unit', '(CPU),', 'and', 'some', 'form', 'of', 'memory.', 'The', 'processing', 'element', 'carries', 'out', 'arithmetic']

In [66]:
groceries = []
#List is mutable

In [67]:
groceries.append("oranges")
groceries.append("meat")
groceries.append("tofu")

In [68]:
groceries

['oranges', 'meat', 'tofu']

In [69]:
groceries[0]

'oranges'

In [70]:
len(groceries)

3

In [71]:
groceries.sort()
groceries

['meat', 'oranges', 'tofu']

In [72]:
veggie = [x for x in groceries if x is not "meat"]  #List Comprehension
veggie

['oranges', 'tofu']

In [80]:
meaty = [y for y in groceries if y is not "tofu"]  #Append y to meaty if (loop & condition)
meaty

['meat', 'oranges']

In [84]:
L1 = [x**2 for x in range(10)]
L1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [86]:
L2 = [2**x for x in range(13)]
print('L2 is {}'.format(L2))

L2 is [1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [87]:
M = [x for x in L1 if x % 2 == 0]
print("M is {}".format(M))

M is [0, 4, 16, 36, 64]

In [90]:
numbers = range(10)
numbers = set(numbers)    #How to create a set
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [91]:
#Dictionary
simple_dict = {}
simple_dict['cs506'] = 'data science in python'
simple_dict['cs530'] = 'advanced algorithm'
simple_dict

{'cs506': 'data science in python', 'cs530': 'advanced algorithm'}

In [93]:
simple_dict1 = {'internet security': 558, 'intro to csII': 112}
simple_dict1

{'internet security': 558, 'intro to csII': 112}

In [97]:
558 in simple_dict1

False

In [96]:
'internet security' in simple_dict1

True

In [98]:
simple_dict1.keys()

dict_keys(['internet security', 'intro to csII'])

In [99]:
simple_dict1.values()

dict_values([558, 112])

In [102]:
for classes in simple_dict:
    print(' class content is {}'.format(simple_dict[classes]))

 class content is data science in python
 class content is advanced algorithm

In [104]:
#Defining Functions
def displayPerson(name, age):
    print("My name is {} and I am {} years old.".format(name,age))
    return

In [105]:
displayPerson("David", 24)

My name is David and I am 24 years old.

In [110]:
#Libraries
import random
myList = [2, 109, False, 10, "data", 282, "mining"]
random.choice(myList)

'mining'

In [114]:
from random import shuffle
x = list(range(10))
shuffle(x)
x

TypeError: 'set' object is not callable

In [115]:
10 // 3 #floor-divide

3

In [117]:
a = True; b = False
print(a & b)
print(a | b)

False
True